* {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-style: italic;
  font-size: 2.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

body {
  background: linear-gradient(to right, rgb(223, 215, 115), rgb(221, 142, 167));
}

img {
  width: 150px;
  height: 150px;
}

#characteristic {
  font-size: 1.3rem;
  font-weight: 500;
}
